.header-container{
  height: 80px;
  width: 100%;
  background: var(--dark-1);

  .navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 10% 0px 10%;
    
  }

  .movie-brand-logo{
    width: 72px;
  }

  .search-box{
    height: 40px;
    width: 300px;
    background: var(--dark-2);
    border: none;
    padding: 8px;
    font-size: 14px;
    border-radius: 8px;
    color: white;
    outline: none;

    &:focus, &:hover{
      border: 2px solid var(--green-1);
    }
  }

  .dropdown-search-container{
    position: absolute;
    color: white;
    background-color: var(--dark-2);
    width: 300px;
    height: 250px;
    // padding: 8px 16px;k
    box-shadow: 0 1rem 3rem black;
    overflow-y: auto;
    border-radius: 0px 0px 8px 8px;
  }

  .empty-state-text{
    text-align: center;
    color: white;
    opacity: 0.7;
    margin-top: 24px;
  }
}

@media only screen and (max-width: 500px){
  .header-container{
    height: 140px;
  }

  .navbar-container{
    flex-direction: column;
  }

  .search-and-dropdown{
    margin-top: 8px;
  }
}