.header-container{
  height: 80px;
  width: 100%;
  background: var(--dark-1);

  .navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 10% 0px 10%;
    
  }

  .movie-brand-logo{
    width: 72px;
  }

  .search-box{
    height: 40px;
    width: 300px;
    background: var(--dark-2);
    border: none;
    padding: 8px;
    font-size: 14px;
    border-radius: 16px;
    color: white;
  }

  .dropdown-search-container{
    position: absolute;
    color: white;
    background-color: var(--dark-2);
    width: 300px;
    height: 250px;
    // padding: 8px 16px;k
    box-shadow: 0 1rem 3rem black;
    overflow-y: auto;
    border-radius: 0px 0px 8px 8px;
  }

  .movie-list{
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
    color: white;
    padding: 0px 8px;
    font-weight: 600;
    &:hover{
      background-color: var(--green-1);
      color: black;
    }
  }

  .empty-state-text{
    text-align: center;
    color: white;
    opacity: 0.7;
    margin-top: 24px;
  }
}